<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngularJS.Core" version="1.6.4" targetFramework="net461" />
  <package id="AngularJS.Sanitize" version="1.5.8" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net461" />
</packages>